<%= form_for([@question, @option]) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    
    
  <div class="field">
    <%= f.hidden_field :question_id, :value=>params[:question_id] %>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value, value: number_with_precision(f.object.value, precision: 2) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
